      {% extends 'customauth/base.html' %}
      
      {% block page_title %}Change Password{% endblock %}
      

      {% block form %}
      <form action="" method="post">{% csrf_token %}
        <input type="password" id="id_old_password" class="fadeIn second" name="old_password" placeholder="Old Password">
        {% if form.old_password.errors %}
        <ul class="error-list">
          {% for err in form.old_password.errors %}
          <li>{{err}}</li>
          {% endfor %}  
        </ul>
        {% endif %}
        <input type="password" id="id_newpassword1" class="fadeIn second" name="new_password1" placeholder="New Password">
        {% if form.new_password1.errors %}
        <ul class="error-list">
          {% for err in form.new_password1.errors %}
          <li>{{err}}</li>
          {% endfor %}  
        </ul>
        {% endif %}
        <input type="password" id="id_new_password2" class="fadeIn second" name="new_password2" placeholder="Confirm Password">
        {% if form.new_password2.errors %}
        <ul class="error-list">
          {% for err in form.new_password2.errors %}
          <li>{{err}}</li>
          {% endfor %}  
        </ul>
        {% endif %}
        <input type="submit" class="fadeIn fourth" value="Change Password">
      </form>
      {% endblock %}
      {% block footer %}
      <div id="formFooter">
        Already Registered ? <a class="underlineHover" href="{% url 'customauth:login' %}">Login</a>
      </div>
      {% endblock %}
    