{% extends 'customauth/base.html' %}

{% block page_title %}Password Reset{% endblock %}


{% block form %}
  
<!-- Login Form -->
<form action="" method="post">{% csrf_token %}
  {% for field in form.visible_fields %}
  {{field}}
  {% endfor %}
  <input type="submit" class="fadeIn fourth" value="Reset">
</form>
{% endblock %}

{% block footer %}
<div id="formFooter">
  Already Registered ? <a class="underlineHover" href="{% url 'customauth:login' %}">Login</a>
</div>
{% block script %}
<script>
	$("#id_new_password1").attr("placeholder", "Password")
	$("#id_new_password2").attr("placeholder", "Confirm Password")

</script>
{% endblock %}
{% endblock %}