{% extends 'customauth/base.html' %}

{% block page_title %}Password Reset{% endblock %}


{% block form %}
  
<!-- Login Form -->
<form action="" method="post">{% csrf_token %}
  <input type="text" id="id_email" class="fadeIn second" name="email" placeholder="email">
  <input type="submit" class="fadeIn fourth" value="Log In">
</form>
{% endblock %}

{% block footer %}
<div id="formFooter">
  Already Registered ? <a class="underlineHover" href="{% url 'customauth:login' %}">Login</a>
</div>
{% endblock %}